.row {
	margin-top: 100px;
}

.nav-item {
	margin-right: 10px;
	margin-left: 10px;
}

.nav {
	margin-top: 75px;
}

h4 {
  color: #f6f6f6 !important;
}

label {

  color: #f6f6f6 !important;
}