body
{
	background-image: url(../images/background.png);
}

.nav-pills > li > a.active {
    background-color: #dc3545!important;
    color: white;
}

.nav-pills > li > a {
	color: white;
}

.nav-pills > li > a:hover {
    background-color: #dc3545!important;
}

.tab-content {
	background-color: #ebebeb;
	padding: 25px;
}